.sidenavbarItem {
    padding-left: 20px;
    padding-right: 20px;
}

.sidenavbarItem > div{
    width: fit-content;
    margin-top: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.sidenavbarItem >div:hover {
    background-color: #E1E8ED;
    border-radius: 25px;
}

.navname {
    margin-left: 10px;
}

/* .sidenavbarItem > div > span > .MuiSvgIcon-root {
    padding-right: 20px;
    padding-left: 20px;
} */